{% style %}
.kava-banner {
  display: block;
  text-decoration: none;
  color: #ECEBEB;
  width: 100%;
  border-radius: 8px;
  background-color: #181818;
  margin-bottom: 40px;
  position: relative;
  padding: 24px;
}

.kava-banner:hover {
  text-decoration: none;
  color: #ECEBEB;
}

.kava-banner-inner {
  position: relative;
  z-index: 1;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.section-blog .kava-banner-header {
  margin-top: 20px;
}
.kava-banner-header {
  text-align: center;
  margin-bottom: 32px;
}
.kava-banner-logo {
  display: inline-block;
  max-width: 200px;
}
.kava-banner-img {
  margin-bottom: 32px;
}
.kava-banner-content {
  text-align: center;
  color: #ECEBEB;
}
.kava-banner-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  color: #ECEBEB;
  margin-top: 0;
  margin-bottom: 12px;
}
.kava-banner-content p {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  color: #ECEBEB;
}
.kava-banner-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #ECEBEB;
  padding: 12px 20px;
  border: 1px solid #FCFCFC;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}
{% endstyle %}


<a href="{{ url }}" class="kava-banner" target="_blank">
  <div class="kava-banner-inner">
    <div class="kava-banner-header">
    <svg class="kava-banner-logo" viewBox="0 0 139 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M42.0829 19.7011L35.9068 13.6234L41.9132 7.88327H40.7086L34.9227 13.387V7.88327H34.0234V19.7011H34.9227V13.8766L40.8782 19.7011H42.0829Z" fill="white"/>
      <path d="M50.267 11.2598V13.1675C49.5543 11.9013 48.2479 11.0741 46.619 11.0741C44.2097 11.0741 42.2245 12.9818 42.2245 15.4805C42.2245 17.9791 44.2097 19.8869 46.619 19.8869C48.2479 19.8869 49.5543 19.0596 50.267 17.7934V19.7011H51.1323V11.2598H50.267ZM46.6869 19.0765C44.6678 19.0765 43.0898 17.4895 43.0898 15.4805C43.0898 13.4714 44.6678 11.8845 46.6869 11.8845C48.706 11.8845 50.267 13.4714 50.267 15.4805C50.267 17.4895 48.706 19.0765 46.6869 19.0765Z" fill="white"/>
      <path d="M59.9643 11.2598L56.7575 18.8232L53.5676 11.2598H52.6514L56.2485 19.7011H57.2835L60.8636 11.2598H59.9643Z" fill="white"/>
      <path d="M69.5375 11.2598V13.1675C68.8248 11.9013 67.5183 11.0741 65.8895 11.0741C63.4801 11.0741 61.495 12.9818 61.495 15.4805C61.495 17.9791 63.4801 19.8869 65.8895 19.8869C67.5183 19.8869 68.8248 19.0596 69.5375 17.7934V19.7011H70.4028V11.2598H69.5375ZM65.9574 19.0765C63.9382 19.0765 62.3603 17.4895 62.3603 15.4805C62.3603 13.4714 63.9382 11.8845 65.9574 11.8845C67.9765 11.8845 69.5375 13.4714 69.5375 15.4805C69.5375 17.4895 67.9765 19.0765 65.9574 19.0765Z" fill="white"/>
      <path d="M76.8594 19.9375C75.683 19.9375 74.6932 19.6786 73.8901 19.1609C73.087 18.6319 72.5214 17.9172 72.1934 17.0168L74.1955 15.8519C74.6593 17.0562 75.5699 17.6583 76.9272 17.6583C77.5833 17.6583 78.0641 17.5402 78.3695 17.3038C78.6749 17.0674 78.8276 16.7692 78.8276 16.409C78.8276 15.9926 78.6409 15.6718 78.2677 15.4467C77.8944 15.2104 77.227 14.9571 76.2655 14.687C75.7339 14.5294 75.2814 14.3718 74.9081 14.2143C74.5462 14.0567 74.1785 13.8485 73.8053 13.5896C73.4433 13.3195 73.1662 12.9818 72.9739 12.5767C72.7816 12.1715 72.6854 11.6988 72.6854 11.1585C72.6854 10.0893 73.0644 9.23951 73.8222 8.60923C74.5914 7.96768 75.5133 7.64691 76.5879 7.64691C77.5494 7.64691 78.3921 7.88327 79.116 8.35599C79.8513 8.81745 80.4225 9.46461 80.8297 10.2975L78.8615 11.4286C78.3864 10.4157 77.6286 9.90919 76.5879 9.90919C76.1015 9.90919 75.7169 10.0217 75.4341 10.2468C75.1626 10.4607 75.0269 10.7421 75.0269 11.091C75.0269 11.4624 75.1796 11.7663 75.485 12.0026C75.8017 12.2277 76.4013 12.4754 77.2836 12.7455C77.6455 12.858 77.917 12.9481 78.098 13.0156C78.2903 13.0719 78.5448 13.1675 78.8615 13.3026C79.1896 13.4264 79.4384 13.5446 79.6081 13.6571C79.7891 13.7697 79.9927 13.9216 80.2189 14.113C80.4451 14.3043 80.6148 14.5013 80.7279 14.7039C80.8523 14.9065 80.9542 15.1541 81.0333 15.4467C81.1238 15.7281 81.1691 16.0376 81.1691 16.3753C81.1691 17.467 80.7675 18.3336 79.9644 18.9752C79.1726 19.6167 78.1376 19.9375 76.8594 19.9375Z" fill="white"/>
      <path d="M84.6759 16.3753C84.97 17.4332 85.7674 17.9622 87.0683 17.9622C87.9053 17.9622 88.5388 17.6808 88.9686 17.1181L90.7332 18.1311C89.8961 19.3354 88.6632 19.9375 87.0343 19.9375C85.6317 19.9375 84.5062 19.5154 83.6578 18.6713C82.8095 17.8272 82.3853 16.7636 82.3853 15.4805C82.3853 14.2086 82.8038 13.1507 83.6409 12.3065C84.4779 11.4511 85.5525 11.0234 86.8647 11.0234C88.1089 11.0234 89.1326 11.4511 89.9357 12.3065C90.7502 13.1619 91.1574 14.2199 91.1574 15.4805C91.1574 15.7619 91.1291 16.0601 91.0725 16.3753H84.6759ZM84.6419 14.687H88.9686C88.8442 14.113 88.584 13.6853 88.1881 13.4039C87.8035 13.1225 87.3624 12.9818 86.8647 12.9818C86.2765 12.9818 85.7901 13.1338 85.4055 13.4377C85.0209 13.7303 84.7664 14.1467 84.6419 14.687Z" fill="white"/>
      <path d="M96.6573 19.9375C95.3791 19.9375 94.3102 19.5098 93.4505 18.6544C92.6021 17.799 92.1779 16.741 92.1779 15.4805C92.1779 14.2199 92.6021 13.1619 93.4505 12.3065C94.3102 11.4511 95.3791 11.0234 96.6573 11.0234C97.483 11.0234 98.2353 11.2204 98.9139 11.6143C99.5926 12.0083 100.107 12.5373 100.458 13.2013L98.5746 14.2987C98.4049 13.9498 98.1448 13.674 97.7941 13.4714C97.4548 13.2688 97.0702 13.1675 96.6403 13.1675C95.9843 13.1675 95.4413 13.387 95.0115 13.826C94.5816 14.2537 94.3667 14.8052 94.3667 15.4805C94.3667 16.1445 94.5816 16.696 95.0115 17.135C95.4413 17.5627 95.9843 17.7765 96.6403 17.7765C97.0815 17.7765 97.4717 17.6808 97.8111 17.4895C98.1617 17.2869 98.4219 17.0112 98.5916 16.6623L100.492 17.7428C100.119 18.4068 99.5926 18.9414 98.9139 19.3466C98.2353 19.7405 97.483 19.9375 96.6573 19.9375Z" fill="white"/>
      <path d="M106.502 13.3533H104.585V16.8649C104.585 17.1575 104.658 17.3713 104.805 17.5064C104.952 17.6415 105.167 17.7202 105.45 17.7428C105.733 17.754 106.084 17.7484 106.502 17.7259V19.7011C104.998 19.87 103.934 19.7293 103.312 19.2791C102.701 18.8289 102.396 18.0241 102.396 16.8649V13.3533H100.92V11.2598H102.396V9.55466L104.585 8.89623V11.2598H106.502V13.3533Z" fill="white"/>
      <path d="M109.131 10.2468C108.769 10.2468 108.453 10.1174 108.181 9.85854C107.921 9.58842 107.791 9.27328 107.791 8.91311C107.791 8.55295 107.921 8.23781 108.181 7.96768C108.453 7.69756 108.769 7.5625 109.131 7.5625C109.505 7.5625 109.821 7.69756 110.081 7.96768C110.353 8.23781 110.489 8.55295 110.489 8.91311C110.489 9.27328 110.353 9.58842 110.081 9.85854C109.821 10.1174 109.505 10.2468 109.131 10.2468ZM108.045 19.7011V11.2598H110.234V19.7011H108.045Z" fill="white"/>
      <path d="M119.466 18.6544C118.595 19.5098 117.531 19.9375 116.276 19.9375C115.02 19.9375 113.957 19.5098 113.086 18.6544C112.226 17.7878 111.796 16.7298 111.796 15.4805C111.796 14.2312 112.226 13.1788 113.086 12.3234C113.957 11.4568 115.02 11.0234 116.276 11.0234C117.531 11.0234 118.595 11.4568 119.466 12.3234C120.337 13.1788 120.772 14.2312 120.772 15.4805C120.772 16.7298 120.337 17.7878 119.466 18.6544ZM114.63 17.1519C115.071 17.5908 115.62 17.8103 116.276 17.8103C116.932 17.8103 117.48 17.5908 117.922 17.1519C118.363 16.7129 118.583 16.1558 118.583 15.4805C118.583 14.8052 118.363 14.248 117.922 13.8091C117.48 13.3701 116.932 13.1507 116.276 13.1507C115.62 13.1507 115.071 13.3701 114.63 13.8091C114.2 14.248 113.985 14.8052 113.985 15.4805C113.985 16.1558 114.2 16.7129 114.63 17.1519Z" fill="white"/>
      <path d="M127.029 11.0234C127.956 11.0234 128.72 11.333 129.319 11.952C129.93 12.571 130.236 13.4264 130.236 14.5182V19.7011H128.047V14.7883C128.047 14.2255 127.894 13.7978 127.589 13.5052C127.283 13.2013 126.876 13.0494 126.367 13.0494C125.801 13.0494 125.349 13.2238 125.01 13.5727C124.67 13.9216 124.501 14.445 124.501 15.1428V19.7011H122.312V11.2598H124.501V12.2052C125.032 11.4174 125.875 11.0234 127.029 11.0234Z" fill="white"/>
      <path d="M134.124 13.6571C134.124 13.8822 134.271 14.068 134.565 14.2143C134.87 14.3493 135.238 14.4731 135.668 14.5857C136.097 14.687 136.527 14.8221 136.957 14.9909C137.387 15.1484 137.749 15.4186 138.043 15.8012C138.348 16.1839 138.501 16.6623 138.501 17.2363C138.501 18.1029 138.173 18.7726 137.517 19.2453C136.872 19.7068 136.064 19.9375 135.091 19.9375C133.349 19.9375 132.161 19.2678 131.528 17.9285L133.428 16.8649C133.677 17.5964 134.231 17.9622 135.091 17.9622C135.871 17.9622 136.261 17.7202 136.261 17.2363C136.261 17.0112 136.109 16.8311 135.803 16.696C135.509 16.5497 135.147 16.4203 134.717 16.3077C134.288 16.1952 133.858 16.0545 133.428 15.8857C132.998 15.7168 132.63 15.4523 132.325 15.0922C132.031 14.7208 131.884 14.2593 131.884 13.7078C131.884 12.8749 132.189 12.2221 132.8 11.7494C133.422 11.2654 134.191 11.0234 135.108 11.0234C135.798 11.0234 136.426 11.181 136.991 11.4962C137.557 11.8001 138.003 12.239 138.332 12.813L136.465 13.826C136.194 13.252 135.741 12.965 135.108 12.965C134.825 12.965 134.587 13.0269 134.395 13.1507C134.214 13.2745 134.124 13.4433 134.124 13.6571Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9758 3.72526C20.4241 1.47651 18.2874 0.311098 15.5739 0.253648C15.52 0.253648 15.4661 0.252746 15.412 0.251839C15.3028 0.25001 15.1923 0.248161 15.0783 0.253648C12.6166 0.393169 10.6912 1.88687 10.4799 4.67729C10.3174 6.88501 11.0161 8.87934 12.3079 10.611C13.1167 11.6985 14.0053 12.7255 14.8955 13.7541C15.275 14.1927 15.6548 14.6317 16.0288 15.0757C17.2556 16.5284 18.4824 17.9893 19.0348 19.8769C19.4898 21.4034 19.6767 22.9546 19.3436 24.5303C19.3383 24.5538 19.3326 24.5777 19.3269 24.6018C19.2629 24.8736 19.1907 25.1799 19.4817 25.2854C19.6929 25.3675 20.0504 25.2526 20.2454 25.1048C20.7572 24.7273 21.2365 24.3005 21.6752 23.8409C23.9419 21.4855 24.8925 18.6787 24.4213 15.4204C24.1531 13.5492 23.2189 11.9734 22.1464 10.4633L22.1187 10.4249C21.559 9.64952 20.9931 8.86559 20.5216 8.03401C20.0097 7.13122 20.3022 6.19561 21.1309 5.68677C21.3048 5.57697 21.4852 5.49329 21.672 5.40661C21.6946 5.3961 21.7174 5.38555 21.7402 5.3749C22.2196 5.1533 22.3902 4.82502 22.2439 4.31618C22.1871 4.111 22.0977 3.89761 21.9758 3.72526ZM5.9185 23.7915C7.47025 26.0294 9.60694 27.1892 12.3205 27.2464C12.3743 27.2464 12.4282 27.2473 12.4824 27.2482C12.5916 27.25 12.702 27.2518 12.816 27.2464C15.2777 27.1075 17.2032 25.621 17.4144 22.8441C17.5769 20.647 16.8782 18.6623 15.5864 16.939C14.7776 15.8568 13.889 14.8348 12.9989 13.8111C12.6193 13.3746 12.2395 12.9378 11.8655 12.4959C10.6387 11.0502 9.41196 9.59644 8.8595 7.71792C8.40454 6.19876 8.21768 4.65511 8.55078 3.08695C8.55608 3.06363 8.56171 3.03987 8.5674 3.01584C8.63147 2.74536 8.70366 2.44056 8.41267 2.33554C8.20143 2.25387 7.84396 2.36821 7.64898 2.51523C7.13715 2.89093 6.65781 3.31564 6.2191 3.77302C3.95242 6.11709 3.00187 8.91037 3.47308 12.1529C3.74119 14.015 4.67548 15.5832 5.74789 17.086L5.77566 17.1243C6.33534 17.8959 6.90122 18.676 7.37275 19.5036C7.88459 20.402 7.59211 21.3331 6.76343 21.8395C6.58953 21.9488 6.40917 22.032 6.22235 22.1183C6.1997 22.1288 6.17695 22.1393 6.15411 22.1499C5.67477 22.3704 5.50416 22.6971 5.6504 23.2035C5.70727 23.4077 5.79664 23.62 5.9185 23.7915Z" fill="#5AC461"/>
    </svg>
  </div>
  <div class="kava-banner-img">
    <img src="https://cdn.shopify.com/s/files/1/0717/0831/1865/files/kava-banner-img_2x_275d29b9-f6d7-410f-8e65-79159ed2f782.png?v=1719411765" 
      sizes="(min-width: 1100px) 1100px, (min-width: 750px) 750px"
      loading="lazy"
      width="100%"
      height="100%"
    />
  </div>
  <div class="kava-banner-content">
    <h3 class="kava-banner-title">
      Turbocharge your theme
    </h3>
    <p>with 100+ plug-and-play customizable theme sections
    </p>
    <span class="kava-banner-link">Get started with KavaSections &rarr;</span>
  </div>
  </div>
</a>

