<p>Share:</p>
<ul class="socials-list">
    <li class="socials-list__item">
        <a 
            class="socials-list__link js-share-buttons-link"
            href="#"
            target="_blank"
            data-network="pinterest"
        >
            {% render 'icon-pinterest-color' %}
        </a>
    </li>
    <li class="socials-list__item">
        <a 
            class="socials-list__link js-share-buttons-link"
            href="#"
            target="_blank"
            data-network="twitter"
        >
            {% render 'icon-twitter-color' %}
        </a>
    </li>
    <li class="socials-list__item">
        <a 
            class="socials-list__link js-share-buttons-link"
            href="#"
            target="_blank"
            data-network="facebook"
        >
            {% render 'icon-facebook-color' %}
        </a>
    </li>
    <li class="socials-list__item">
        <a 
            class="socials-list__link js-share-buttons-link"
            href="#"
            target="_blank"
            data-network="email"
        >
            {% render 'icon-email-color' %}
        </a>
    </li>
    <li class="socials-list__item">
        <a 
            class="socials-list__link js-share-buttons-link"
            href="#"
            target="_blank"
            data-network="linkedin"
        >
            {% render 'icon-linkedin-color' %}
        </a>
    </li>
</ul>

